PORT=3000
NODE_ENV=development

# Angel One SmartAPI Credentials
API_KEY=
CLIENT_CODE=
CLIENT_PIN=
CLIENT_TOTP_PIN=

# Telegram Configurations
USE_TELEGRAM=true
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Slack Configurations
SLACK_ENABLED=false
SLACK_WEBHOOK_URL=
SLACK_SIGNING_SECRET=

# Strategy Options
ENABLE_SENSEX_EXPIRY=true
